{% extends 'mentors/base.html' %}

{% block title %}Edit Module {{ module.name }} {% endblock %}

{% block content %}
<div class="container">
    <a href="{% url 'instructor_course_detail' module.course.id %}" class="btn btn-secondary "><i class="bi bi-box-arrow-in-left"></i> Back to Modules</a>

    <div class="del-wrapper p-4 rounded-3 border border-warning mt-4">
        <h2 class="h2-login">Edit Module</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mt-3">
                <label for="title">Module Title</label>
                <p class="mt-2">{{ form.title }}</p>
            </div>
            <div>
                <label for="description">Description</label>
                <p class="mt-2">{{ form.description }}</p>
            </div>
            <button type="submit" class="btn btn-cosmic mt-3">Sumbit Module</button>
        </form>
    </div>
</div>
{% endblock %}