{% extends 'mentors/base.html' %}

{% block title %} Edit Content '{{ content.topic }}' {% endblock %}

{% block content %}
<div class="container">
    <a href="{% url 'content_list' content.module.id %}" class="btn btn-secondary"> <i class="fa-solid fa-arrow-left"></i> Back to Content List</a>
    <div class="p-lg-5 px-3 p-5 mt-3 edit-banner rounded-3">
        <span class="fw-bold text-secondary">Edit module content:</span>
        <h3>{{ content.topic }}</h3>
    </div>
    <div class="form-wrapper rounded-3 border border-warning p-4 mt-3">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="topic">Content Topic</label>
                <input type="text" class="form-control mt-1 mb-2" id="topic" name="topic" placeholder="Enter content topic" value="{{ content.topic }}" required>
            </div>
    
            <div class="form-group">
                <label for="content_type">Content Type</label>
                <select class="form-control mt-1 mb-2 form-select" id="content_type" name="content_type" required>
                    <option value="text" {% if content.content_type == 'text' %}selected{% endif %}>Text</option>
                    <option value="video" {% if content.content_type == 'video' %}selected{% endif %}>Video</option>
                    <option value="document" {% if content.content_type == 'document' %}selected{% endif %}>Document</option>
                </select>
            </div>
    
            <div class="form-group" id="text_content" style="display: {% if content.content_type == 'text' %}block{% else %}none{% endif %};">
                <label for="content_data_text">Text Content</label>
                <textarea class="form-control mt-1 mb-2" id="content_data_text" name="content_data_text" style="height: 8rem;">{{ content.content_data_text }}</textarea>
            </div>
    
            <div class="form-group" id="video_content" style="display: {% if content.content_type == 'video' %}block{% else %}none{% endif %};">
                <label for="content_data_video">Video URL</label>
                <input type="file" class="form-control mt-1 mb-2" id="content_data_video" name="content_data_video" value="{{ content.content_data_video }}">
            </div>
    
            <div class="form-group" id="document_content" style="display: {% if content.content_type == 'document' %}block{% else %}none{% endif %};">
                <label for="content_data_document">Upload Document</label>
                <input type="file" class="form-control mt-2 mb-2" id="content_data_document" name="content_data_document">
            </div>
    
            <button type="submit" class="btn btn-cosmic mt-3"><i class="fa-solid fa-save"></i> Save Changes</button>
        </form>
    </div>
</div>


{% endblock %}